body{
    background-color: rgba(0, 0, 0, 0.226);
}
.navbar{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px;
    height: 60px;
}
.nav-link{
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 0 !important;
    margin: 0 10px;
    position: relative;
}
.active,.nav-link:hover{
    color: orange !important;
}

  .nav-link::after{
    content: '';
    width:0;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom:-6px;
    transition: 0.5s;
   
}
.nav-link:hover::after{
    width: 100%;
}
.navbar-brand{
    color: brown;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand:hover{
    color: rgb(244, 121, 14);
}
#home{
    background: linear-gradient(black, rgba(0, 0, 0, 0.026));
    margin-top: 60px;
    color: orange;
    font-family: "Orbitron", serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-top: 200px;
    padding-bottom: 200px;
}
#home h1{
    font-family: "Orbitron", serif !important;
    text-align: left;
}
#home .col-lg-6 img{
    margin-left: 200px;
    width: 300px;
    background-color: orange;
    border-radius: 50%;
    padding: 40px;
}
#home .col-lg-6 p{
    color: white;
    background-color: orange;
    border-radius: 10px;
    width: 110px;
    padding: 10px;
    margin-top: 50px;
}
#home .col-lg-6 a{
    text-decoration: none;
    text-align: center;
}
#home .col-lg-6 p:hover{
    box-shadow: 0 0 7px black;
    font-size: 17px;
}

#about{
    background: linear-gradient(rgba(0, 0, 0, 0.026), #000000);
    color: white;
    font-family: "Nunito", serif;
    padding: 70px 0 250px;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h2,h4{
    font-weight: 600;
}
h1 i{
    padding-right: 20px;
}
#about .container{
    margin-top: 100px;
}
#about .col-lg-6{
    padding: 0 100px;
}
#about .col-lg-6 h2{
    padding: 30px 0 0 0;
}
#about .col-lg-6 img{
    border-radius: 15px;
    width: 300px;
    height: 350px;
    object-fit: cover;
}
#skills{
    background: linear-gradient(black, rgba(0, 0, 0, 0.026));
    color: orange;
    padding: 70px 0 250px;
    font-family: "Nunito", serif;
}
#skills h1 i{
    padding-right: 20px;
}
#skills .item .bar{
    width: 100%;
    background-color: rgb(214, 211, 211);
    height: 10px;
}
#skills .item .bar .bar1{
    background-color: orange!important;
    height: 10px;
}
#skills .container{
    margin-top: 50px;
}
#skills .item{
    margin-top: 30px;
}
#education{
    background: linear-gradient(rgba(0, 0, 0, 0.026), #000000);
    color: #ffffff;
    font-family: "Nunito", serif;
    padding: 70px 0 150px;
}
#education .container{
    align-items: center;
    padding-top: 50px;
}
#education .card{
    flex-direction: row;
    margin: 0 150px 50px ;
}
#education .card img{
    width: 30%;
}
#resume{
    background: linear-gradient(black, rgba(0, 0, 0, 0.026));
    color: orange;
    padding: 70px 0 250px;
    font-family: "Nunito", serif;
    text-align: center;

}
#resume .res{
    width: 1200px;
    margin: auto;
}
#resume .res iframe{
    width: 100%;
    height: 600px;
}
#pro{
    /* background-color: black; */
    background: linear-gradient(rgba(0, 0, 0, 0.026), #000000);

    color: #ffffff;
    font-family: "Nunito", serif;
    padding: 70px 0 70px;
}
.project-content {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row .img {
    width: 700px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.226), #000000);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    font: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;

}
.row:hover .img {
    transform: scale(1.1);

}

.row:hover .layer {
    height: 100%;
}
 #pro .btn{
    display: inline;
    border-color: orange;
    color: orange;
    font-weight: 700;
 }
 #pro .btn:hover,.btn1:hover{
    background-color: orange;
    color: white;
 }
 .btn1{
    border-color: orange;
    color: orange;
    font-weight: 700;
 }
#contact{
    color: orange;
    background: linear-gradient(black, rgba(0, 0, 0, 0.026));
    font-family: "Nunito", serif;
    padding: 70px 0 150px;
}
#contact .container{
    width: 60%;
    background-color: rgb(219, 231, 226);
    border-radius: 15px;
}
#contact .col-lg-6{
    padding: 30px;
}

.social{
    width: 300px;
    position: relative;
    top: 25%;
    text-align: center;
    margin: auto;
    display: inline;
}

.social i{
    padding:10px;
    font-size: 25px;
}
.social a{
    color: white;
}
.social a:hover{
    color: rgb(202, 101, 33);
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 14px;
    background: white;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-form textarea {
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: white;
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.content {
    opacity: 0;
    transform: translateY(100px); /* This will make the element start from a lower position */
    transition: all 0.6s ease-out;
}

/* Animating to visible state */
.content.visible {
    opacity: 1;
    transform: translateY(0); /* Moves back to normal position */
}

/* For a smoother effect when images come into view */
img {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

img.visible {
    opacity: 1;
    transform: scale(1);
}
@media only screen and (max-width: 578px) {
    .navbar .container{
        background-color: rgb(255, 255, 255);
        /* box-shadow: 0 0 10px; */
        /* height: 60px; */
    }
    .navbar-toggler-icon{
        color: blue !important;
    }
    #home{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #home .col-lg-6 img{
        margin-left: 120px;
        width: 250px;
    }
    
    #about{
        padding: 70px  20px;
    }
    #about .container{
        margin-top: 50px;
    }
    #about .col-lg-6{
        padding: 0 ;
 
    }
    #about .col-lg-6 img{
        width: 300px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    #skills{
        padding: 70px 0 70px;
        font-family: "Nunito", serif;
    }
    #skills h1 i{
        padding-right: 20px;
    }
    #skills .item .bar{
        width: 100%;
        height: 10px;
    }
    #skills .item .bar .bar1{
        height: 10px;
    }
    #skills .container{
        margin-top: 50px;
    }
    #skills .item{
        margin-top: 30px;
    }
    #education{
        font-family: "Nunito", serif;
        padding: 70px 0 70px;
    }
    #education .container{
        align-items: center;
        padding-top: 50px;
    }
    #education .card{
        /* width: 300px; */
        margin: auto
    }
    #education .card img{
        width: 30%;
    }
    #resume{
        padding: 70px 0 70px;
        font-family: "Nunito", serif;
    }
    #resume .res{
        width: 350px;
        margin: auto;
    }
    #resume .res iframe{
        width: 100%;
        height: 400px;
    }
    #pro{
        font-family: "Nunito", serif;
        padding: 70px 0 150px;
    }
    #pro .card{
        border-radius: 15px;
        width: 300px;
        margin: auto;
        margin-bottom: 20px;
    }
    /* #pro .card-body .des{
        display: none;
    } */
    #contact{
        padding: 70px 0 50px;
    }
    #contact .container{
        width: 100%;
        height: 600px;
    }
    #contact img{
        width: 350px;
    }
    #contact .col-lg-6{
        padding: 0px;
    }
    .social{
        top: 25%;
    }
    .social i{
        padding:0 5px;
        font-size: 20px;
    }
    .contact-form{
        width: 80%;
        margin: auto;
    }
    .contact-form form input,
    form textarea {
        padding: 5px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .contact-form textarea {
        height: 80px;
    }
}